body {
    border: solid 5px;
    border-color: black;
    border-style: outset;
    padding: 10px 0 357px 0;
    background-image: linear-gradient(bisque, brown);
}
h1 {
    text-decoration: underline;
    font-family: fantasy;
    text-align: center;
}
h2 {
    color: black;
    font-family: fantasy;
    text-align: center;
}
#cr {
    width: 250px;
    border-radius: 50px;
    border: solid black 4px;
}
.cr {
    max-width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.recipe {
    max-width: fit-content;
    margin: 10px 10px auto 75px;
    border: solid black 5px;
    border-radius: 10px;
    padding: 10px;
}
.home {
    max-width: fit-content;
    text-align: left;
    margin-left: 50px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    border: solid black 4px;
    border-radius: 10px;
    padding: 5px;
}
#ingredients {
    font-weight: bold;
    text-decoration: underline;
}
#steps {
    font-weight: bold;
    text-decoration: underline;
}
ul li,
ol li {
    margin-bottom: 10px;
}
ol li {
    font-size: 18px;
    margin-right: 15px;
}