body {
    border: solid 5px;
    border-color: black;
    border-style: outset;
    padding: 10px 0 175px 0;
    background-image: linear-gradient(bisque, brown);
}
#title {
    text-decoration: underline;
    font-family: fantasy;
    text-align: center;
    margin: 20px 0 50px 0;
}
a {
    color: black;
    font-family: fantasy;
    font-size: 30px;
    margin: auto 10px auto auto;
    display: block;
}
.img {
    width: 400px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border: solid 5px;
    border-radius: 10px;
    display: flex;
    flex-flow: row;
    background-color: antiquewhite;
}
#sizing {
    width: 250px;
    border-radius: 50px;
    font-size: large;
    border: solid 5px;
    border-color: burlywood;
}